version: '3.9'

services:
  django_gunicorn:
    build:
      context: .
    container_name: django_app
    volumes:
      - static:/static
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - nginx

  nginx:
    build: ./nginx
    container_name: nginx_server
    volumes:
      - static:/static
    ports:
      - "80:80"
    depends_on:
      - django_gunicorn

volumes:
  static:
